.p-4.mb-4.text-sm.text-blue-800.rounded-lg.bg-blue-50(class='dark:bg-gray-800 dark:text-blue-400', role='alert')
  span.font-medium Info alert!
  |  Change a few things up and try submitting again.
.p-4.mb-4.text-sm.text-red-800.rounded-lg.bg-red-50(class='dark:bg-gray-800 dark:text-red-400', role='alert')
  span.font-medium Danger alert!
  |  Change a few things up and try submitting again.
.p-4.mb-4.text-sm.text-green-800.rounded-lg.bg-green-50(class='dark:bg-gray-800 dark:text-green-400', role='alert')
  span.font-medium Success alert!
  |  Change a few things up and try submitting again.
.p-4.mb-4.text-sm.text-yellow-800.rounded-lg.bg-yellow-50(class='dark:bg-gray-800 dark:text-yellow-300', role='alert')
  span.font-medium Warning alert!
  |  Change a few things up and try submitting again.
.p-4.text-sm.text-gray-800.rounded-lg.bg-gray-50(class='dark:bg-gray-800 dark:text-gray-300', role='alert')
  span.font-medium Dark alert!
  |  Change a few things up and try submitting again.