extends ../layouts/base

block content
    script(src='https://cdn.tailwindcss.com')
    script.
      tailwind.config = {
      darkMode: 'class',
      theme: {
      extend: {
      fontFamily: {
      inter: ['Inter', 'sans-serif'],
      },
      },
      },
      };
    script(src='https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js')
    style.
      /* Container cho hình ảnh */
      .relative .card {
      position: relative;
      width: 100%;
      border-radius: 0.75rem;
      overflow: hidden;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
      }
      img {
      width: 100%;
      height: auto;
      display: block;
      }
      figcaption {
      position: absolute;
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding: 1rem;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      transition: transform 0.4s ease-in-out;
      transform: translateY(100%);
      }
      figure:hover figcaption {
      transform: translateY(0);
      cursor: pointer;
      }
      figcaption h2 {
      font-size: 1.5rem;
      /* Tăng kích thước title */
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.75);
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      text-align: center;
      width: 100%;
      }
      figcaption p {
      font-size: 1rem;
      text-align: center;
      margin-top: 0.5rem;
      max-height: 200px;
      /* Giới hạn chiều cao desc */
      overflow: hidden;
      /* Cắt nội dung dư */
      text-overflow: ellipsis;
      /* Thêm ... nếu quá dài */
      white-space: normal;
      /* Cho phép xuống dòng */
      opacity: 0;
      /* Ẩn desc khi không hover */
      transition: opacity 1s ease-in-out;
      }
      figure:hover figcaption p {
      opacity: 1;
      /* Hiển thị desc khi hover */
      }
    
    
    #main-content.relative.w-full.h-full.overflow-y-auto.bg-gray-50.p-3.pt-5(class='lg:ml-64 dark:bg-gray-900' style="height: 100vh")
        .relative.font-inter.antialiased
            main.relative.bg-slate-50(class="bg-gray-50 dark:bg-gray-900")
                .w-full.max-w-5xl.px-4.py-10(class='md:px-6')
                    .space-y-20
                        h2.font-bold.text-lg.mb-4(class="dark:text-white" style="font-size: 30px;") Notebooks
                        // With columns
                        #card-container(style="margin-top: 35px")
    script.
      const notesID = !{JSON.stringify(notesID)}
      const arrayImages = !{JSON.stringify(arrayImages)};
      const titles = !{JSON.stringify(titles)};
      const descs = !{JSON.stringify(descs)};
    script(src='/js/notes/list.note.js')

      
            