script(async='' defer='' src='https://buttons.github.io/buttons.js')
script(src='https://flowbite-admin-dashboard.vercel.app//app.bundle.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/datepicker.min.js')
svg#SvgjsSvg1344(width='2' height='0' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev' style='overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;')
  defs#SvgjsDefs1345
  polyline#SvgjsPolyline1346(points='0,0')
  path#SvgjsPath1347(d='M-1 2669.9519999999998L-1 2669.9519999999998C-1 2669.9519999999998 149.825927734375 2669.9519999999998 149.825927734375 2669.9519999999998C149.825927734375 2669.9519999999998 299.65185546875 2669.9519999999998 299.65185546875 2669.9519999999998C299.65185546875 2669.9519999999998 449.477783203125 2669.9519999999998 449.477783203125 2669.9519999999998C449.477783203125 2669.9519999999998 599.3037109375 2669.9519999999998 599.3037109375 2669.9519999999998C599.3037109375 2669.9519999999998 749.129638671875 2669.9519999999998 749.129638671875 2669.9519999999998C749.129638671875 2669.9519999999998 898.95556640625 2669.9519999999998 898.95556640625 2669.9519999999998C898.95556640625 2669.9519999999998 898.95556640625 2669.9519999999998 898.95556640625 2669.9519999999998 ')
.datepicker.hidden.datepicker-dropdown.dropdown.absolute.top-0.left-0.z-50.pt-2.datepicker-orient-top.datepicker-orient-left(style='top: 1215px; left: 1263px;')
  .datepicker-picker.inline-block.rounded-lg.bg-white.shadow-lg.p-4(class='dark:bg-gray-700')
    .datepicker-header
      .datepicker-title.bg-white.px-2.py-3.text-center.font-semibold(class='dark:bg-gray-700 dark:text-white' style='display: none;')
      .datepicker-controls.flex.justify-between.mb-2
        button.bg-white.rounded-lg.text-gray-500.text-lg.prev-btn(type='button' class='dark:bg-gray-700 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600 hover:text-gray-900 dark:hover:text-white p-2.5 focus:outline-none focus:ring-2 focus:ring-gray-200')
          svg.w-4.h-4(fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' d='M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z' clip-rule='evenodd')
        button.text-sm.rounded-lg.text-gray-900.bg-white.font-semibold.px-5.view-switch(type='button' class='dark:text-white dark:bg-gray-700 py-2.5 hover:bg-gray-100 dark:hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-200') November 2024
        button.bg-white.rounded-lg.text-gray-500.text-lg.next-btn(type='button' class='dark:bg-gray-700 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600 hover:text-gray-900 dark:hover:text-white p-2.5 focus:outline-none focus:ring-2 focus:ring-gray-200')
          svg.w-4.h-4(fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' d='M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z' clip-rule='evenodd')
    .datepicker-main.p-1
      .datepicker-view.flex
        .days
          .days-of-week.grid.grid-cols-7.mb-1
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Su
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Mo
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Tu
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') We
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Th
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Fr
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Sa
          .datepicker-grid.w-64.grid.grid-cols-7
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.prev.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1729962000000') 27
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.prev.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730048400000') 28
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.prev.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730134800000') 29
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.prev.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730221200000') 30
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.prev.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730307600000') 31
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730394000000') 1
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730480400000') 2
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730566800000') 3
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730653200000') 4
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730739600000') 5
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730826000000') 6
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730912400000') 7
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730998800000') 8
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731085200000') 9
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731171600000') 10
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731258000000') 11
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731344400000') 12
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731430800000') 13
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731517200000') 14
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731603600000') 15
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731690000000') 16
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731776400000') 17
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731862800000') 18
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731949200000') 19
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732035600000') 20
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732122000000') 21
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732208400000') 22
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.focused(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732294800000') 23
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732381200000') 24
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732467600000') 25
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732554000000') 26
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732640400000') 27
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732726800000') 28
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732813200000') 29
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732899600000') 30
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732986000000') 1
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733072400000') 2
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733158800000') 3
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733245200000') 4
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733331600000') 5
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733418000000') 6
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733504400000') 7
    .datepicker-footer
      .datepicker-controls.flex.space-x-2.mt-2
        button.button.today-btn.text-white.bg-blue-700.font-medium.rounded-lg.text-sm.px-5.py-2.text-center(type='button' class='dark:bg-blue-600 hover:bg-blue-800 dark:hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 w-1/2' style='display: none;') Today
        button.button.clear-btn.text-gray-900.bg-white.border.border-gray-300.font-medium.rounded-lg.text-sm.px-5.py-2.text-center(type='button' class='dark:text-white dark:bg-gray-700 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-600 focus:ring-4 focus:ring-blue-300 w-1/2' style='display: none;') Clear
.datepicker.hidden.datepicker-dropdown.dropdown.absolute.top-0.left-0.z-50.pt-2.datepicker-orient-top.datepicker-orient-right(style='top: 1215px; left: 1638px;')
  .datepicker-picker.inline-block.rounded-lg.bg-white.shadow-lg.p-4(class='dark:bg-gray-700')
    .datepicker-header
      .datepicker-title.bg-white.px-2.py-3.text-center.font-semibold(class='dark:bg-gray-700 dark:text-white' style='display: none;')
      .datepicker-controls.flex.justify-between.mb-2
        button.bg-white.rounded-lg.text-gray-500.text-lg.prev-btn(type='button' class='dark:bg-gray-700 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600 hover:text-gray-900 dark:hover:text-white p-2.5 focus:outline-none focus:ring-2 focus:ring-gray-200')
          svg.w-4.h-4(fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' d='M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z' clip-rule='evenodd')
        button.text-sm.rounded-lg.text-gray-900.bg-white.font-semibold.px-5.view-switch(type='button' class='dark:text-white dark:bg-gray-700 py-2.5 hover:bg-gray-100 dark:hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-200') November 2024
        button.bg-white.rounded-lg.text-gray-500.text-lg.next-btn(type='button' class='dark:bg-gray-700 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600 hover:text-gray-900 dark:hover:text-white p-2.5 focus:outline-none focus:ring-2 focus:ring-gray-200')
          svg.w-4.h-4(fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' d='M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z' clip-rule='evenodd')
    .datepicker-main.p-1
      .datepicker-view.flex
        .days
          .days-of-week.grid.grid-cols-7.mb-1
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Su
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Mo
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Tu
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') We
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Th
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Fr
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Sa
          .datepicker-grid.w-64.grid.grid-cols-7
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.prev.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1729962000000') 27
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.prev.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730048400000') 28
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.prev.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730134800000') 29
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.prev.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730221200000') 30
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.prev.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730307600000') 31
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730394000000') 1
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730480400000') 2
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730566800000') 3
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730653200000') 4
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730739600000') 5
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730826000000') 6
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730912400000') 7
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730998800000') 8
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731085200000') 9
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731171600000') 10
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731258000000') 11
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731344400000') 12
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731430800000') 13
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731517200000') 14
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731603600000') 15
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731690000000') 16
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731776400000') 17
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731862800000') 18
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731949200000') 19
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732035600000') 20
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732122000000') 21
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732208400000') 22
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.focused(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732294800000') 23
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732381200000') 24
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732467600000') 25
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732554000000') 26
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732640400000') 27
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732726800000') 28
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732813200000') 29
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732899600000') 30
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732986000000') 1
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733072400000') 2
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733158800000') 3
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733245200000') 4
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733331600000') 5
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733418000000') 6
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733504400000') 7
    .datepicker-footer
      .datepicker-controls.flex.space-x-2.mt-2
        button.button.today-btn.text-white.bg-blue-700.font-medium.rounded-lg.text-sm.px-5.py-2.text-center(type='button' class='dark:bg-blue-600 hover:bg-blue-800 dark:hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 w-1/2' style='display: none;') Today
        button.button.clear-btn.text-gray-900.bg-white.border.border-gray-300.font-medium.rounded-lg.text-sm.px-5.py-2.text-center(type='button' class='dark:text-white dark:bg-gray-700 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-600 focus:ring-4 focus:ring-blue-300 w-1/2' style='display: none;') Clear
.datepicker.hidden.datepicker-dropdown.dropdown.absolute.top-0.left-0.z-50.pt-2.datepicker-orient-top.datepicker-orient-left(style='top: 3207.69px; left: 911px;')
  .datepicker-picker.inline-block.rounded-lg.bg-white.shadow-lg.p-4(class='dark:bg-gray-700')
    .datepicker-header
      .datepicker-title.bg-white.px-2.py-3.text-center.font-semibold(class='dark:bg-gray-700 dark:text-white' style='display: none;')
      .datepicker-controls.flex.justify-between.mb-2
        button.bg-white.rounded-lg.text-gray-500.text-lg.prev-btn(type='button' class='dark:bg-gray-700 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600 hover:text-gray-900 dark:hover:text-white p-2.5 focus:outline-none focus:ring-2 focus:ring-gray-200')
          svg.w-4.h-4(fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' d='M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z' clip-rule='evenodd')
        button.text-sm.rounded-lg.text-gray-900.bg-white.font-semibold.px-5.view-switch(type='button' class='dark:text-white dark:bg-gray-700 py-2.5 hover:bg-gray-100 dark:hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-200') November 2024
        button.bg-white.rounded-lg.text-gray-500.text-lg.next-btn(type='button' class='dark:bg-gray-700 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600 hover:text-gray-900 dark:hover:text-white p-2.5 focus:outline-none focus:ring-2 focus:ring-gray-200')
          svg.w-4.h-4(fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' d='M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z' clip-rule='evenodd')
    .datepicker-main.p-1
      .datepicker-view.flex
        .days
          .days-of-week.grid.grid-cols-7.mb-1
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Su
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Mo
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Tu
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') We
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Th
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Fr
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Sa
          .datepicker-grid.w-64.grid.grid-cols-7
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.prev.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1729962000000') 27
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.prev.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730048400000') 28
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.prev.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730134800000') 29
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.prev.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730221200000') 30
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.prev.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730307600000') 31
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730394000000') 1
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730480400000') 2
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730566800000') 3
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730653200000') 4
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730739600000') 5
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730826000000') 6
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730912400000') 7
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730998800000') 8
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731085200000') 9
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731171600000') 10
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731258000000') 11
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731344400000') 12
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731430800000') 13
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731517200000') 14
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731603600000') 15
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731690000000') 16
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731776400000') 17
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731862800000') 18
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731949200000') 19
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732035600000') 20
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732122000000') 21
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732208400000') 22
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.focused(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732294800000') 23
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732381200000') 24
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732467600000') 25
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732554000000') 26
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732640400000') 27
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732726800000') 28
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732813200000') 29
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732899600000') 30
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732986000000') 1
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733072400000') 2
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733158800000') 3
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733245200000') 4
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733331600000') 5
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733418000000') 6
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733504400000') 7
    .datepicker-footer
      .datepicker-controls.flex.space-x-2.mt-2
        button.button.today-btn.text-white.bg-blue-700.font-medium.rounded-lg.text-sm.px-5.py-2.text-center(type='button' class='dark:bg-blue-600 hover:bg-blue-800 dark:hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 w-1/2' style='display: none;') Today
        button.button.clear-btn.text-gray-900.bg-white.border.border-gray-300.font-medium.rounded-lg.text-sm.px-5.py-2.text-center(type='button' class='dark:text-white dark:bg-gray-700 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-600 focus:ring-4 focus:ring-blue-300 w-1/2' style='display: none;') Clear
.datepicker.hidden.datepicker-dropdown.dropdown.absolute.top-0.left-0.z-50.pt-2.datepicker-orient-top.datepicker-orient-left(style='top: 3207.69px; left: 1170px;')
  .datepicker-picker.inline-block.rounded-lg.bg-white.shadow-lg.p-4(class='dark:bg-gray-700')
    .datepicker-header
      .datepicker-title.bg-white.px-2.py-3.text-center.font-semibold(class='dark:bg-gray-700 dark:text-white' style='display: none;')
      .datepicker-controls.flex.justify-between.mb-2
        button.bg-white.rounded-lg.text-gray-500.text-lg.prev-btn(type='button' class='dark:bg-gray-700 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600 hover:text-gray-900 dark:hover:text-white p-2.5 focus:outline-none focus:ring-2 focus:ring-gray-200')
          svg.w-4.h-4(fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' d='M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z' clip-rule='evenodd')
        button.text-sm.rounded-lg.text-gray-900.bg-white.font-semibold.px-5.view-switch(type='button' class='dark:text-white dark:bg-gray-700 py-2.5 hover:bg-gray-100 dark:hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-200') November 2024
        button.bg-white.rounded-lg.text-gray-500.text-lg.next-btn(type='button' class='dark:bg-gray-700 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600 hover:text-gray-900 dark:hover:text-white p-2.5 focus:outline-none focus:ring-2 focus:ring-gray-200')
          svg.w-4.h-4(fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' d='M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z' clip-rule='evenodd')
    .datepicker-main.p-1
      .datepicker-view.flex
        .days
          .days-of-week.grid.grid-cols-7.mb-1
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Su
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Mo
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Tu
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') We
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Th
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Fr
            span.dow.text-center.h-6.leading-6.text-sm.font-medium.text-gray-500(class='dark:text-gray-400') Sa
          .datepicker-grid.w-64.grid.grid-cols-7
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.prev.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1729962000000') 27
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.prev.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730048400000') 28
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.prev.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730134800000') 29
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.prev.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730221200000') 30
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.prev.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730307600000') 31
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730394000000') 1
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730480400000') 2
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730566800000') 3
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730653200000') 4
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730739600000') 5
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730826000000') 6
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730912400000') 7
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1730998800000') 8
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731085200000') 9
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731171600000') 10
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731258000000') 11
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731344400000') 12
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731430800000') 13
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731517200000') 14
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731603600000') 15
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731690000000') 16
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731776400000') 17
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731862800000') 18
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1731949200000') 19
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732035600000') 20
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732122000000') 21
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732208400000') 22
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.focused(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732294800000') 23
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732381200000') 24
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732467600000') 25
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732554000000') 26
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732640400000') 27
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732726800000') 28
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732813200000') 29
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732899600000') 30
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1732986000000') 1
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733072400000') 2
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733158800000') 3
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733245200000') 4
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733331600000') 5
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733418000000') 6
            span.datepicker-cell.block.flex-1.leading-9.border-0.rounded-lg.cursor-pointer.text-center.text-gray-900.font-semibold.text-sm.day.next.text-gray-500(class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-white' data-date='1733504400000') 7
    .datepicker-footer
      .datepicker-controls.flex.space-x-2.mt-2
        button.button.today-btn.text-white.bg-blue-700.font-medium.rounded-lg.text-sm.px-5.py-2.text-center(type='button' class='dark:bg-blue-600 hover:bg-blue-800 dark:hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 w-1/2' style='display: none;') Today
        button.button.clear-btn.text-gray-900.bg-white.border.border-gray-300.font-medium.rounded-lg.text-sm.px-5.py-2.text-center(type='button' class='dark:text-white dark:bg-gray-700 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-600 focus:ring-4 focus:ring-blue-300 w-1/2' style='display: none;') Clear
#gtx-trans(style='position: absolute; left: 1357px; top: 37px;')
  .gtx-trans-icon
